.card-content .card-info-images {
    display: flex;
}

.card-content .card-info {
    display: flex;
    margin-top: 42px;
}

.card-content .card-info-text header h2 {
    margin-top: 0;
}

.card-content .card-info-text {
    margin-left: 48px;
    font-weight: 500;
}

.card-content .rating-and-info {
    display: flex;
}

.card-content .fa-star {
    color: #E3E3E3;
}

.card-content .rating .selected,
.card-content .review-rating .selected {
    color: #ffd54c !important;
}

.card-content .rating .starring,
.card-content .review-rating .starring {
    transition: color .5s;
    color: #F4C634;
}

.card-content .info {
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    margin-left: 12px;

    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #9B9B9B;
}

.card-content .description {
    line-height: 140%;
}

.card-content .cake-stats > div {
    margin-bottom: 10px;
}

.card-content .price {
    font-size: 30px;
    font-weight: 700;
}

.card-content .buy-button {
    padding: 12px 54px;
    margin-right: 20px;
}

.card-content .card-reviews {
    max-width: 677px;
}

.card-content .card-reviews h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #12335F;
}

.card-content .card-reviews textarea {
    width: 100%;
    height: 174px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    padding: 22px 24px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    transition: border-color .5s;
}

.card-content .card-reviews textarea::placeholder {
    color: #9B9B9B;
}

.card-content .card-reviews textarea:hover,
.card-content .card-reviews textarea:focus,
.card-content .card-reviews textarea:active {
    border-color: #12335F;
    outline: none;
}

.card-content .review-field {
    position: relative;
    width: 100%;
    height: 214px;
}

.card-content .buttons-wrapper {
    display: flex;
    
    position: absolute;
    right: 12px;
    bottom: 52px;
}

.card-content .buttons-wrapper button {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9B9B9B;
    cursor: pointer;
    margin-right: 20px;
}

.card-content .buttons-wrapper input[type=submit] {
    padding: 13px 28px;
    border: none;
    cursor: pointer;
}

.card-content .review-stars {
    display: flex;
    align-items: center;
}

.card-content .review-stars p {
    color: #2C2C2C;
    margin-right: 14px;
}

.card-content .review-stars input[type=number] {
    display: none;
}

.card-content .buy-and-amount {
    display: flex;
    align-items: center;
}

.card-content .users-reviews {
    margin: 81px 0 100px;
    max-width: 677px;
}

.card-content .review {
    width: 100%;
}

.card-content .review-rating {
    display: flex;
}

.card-content .review-date {
    margin-right: 16px;
    font-size: 16px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #9B9B9B;
}

.card-content .review header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-content .user-name,
.card-content .response-author {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #12335F;
}

.card-content .review-text,
.card-content .review-response {
    font-size: 16px;
    line-height: 140%;
    color: #2C2C2C;
}

.card-content .review-response {
    padding-left: 12px;
    margin-left: 40px;
    border-left: solid 2px #E3E3E3;
}

.card-content .users-reviews article:not(:first-child) {
    margin-top: 50px;
}

.card-content .load-reviews {
    padding: 16px 76px;
    max-width: 280px;
    background-color: #EDF1F7;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #12335F;
    border-radius: 5px;
    border: none;
    margin-top: 60px;
    align-self: center;
    white-space: nowrap;
    cursor: pointer;
}

.card-content .users-reviews {
    display: flex;
    flex-direction: column;
}