.catalog-content .shop-city-selector {
    position: relative;
}
  
.catalog-content .shop-city-selector select {
    display: none;
}
  
.catalog-content .select-selected {
    background-color: #12335F;
}
  
.catalog-content .select-selected:after {
    position: absolute;
    content: "";
    top: calc(50% - 6px);
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    transition: all .5s;
}

.catalog-content .select-selected.select-arrow-active:after {
    transform: scaleY(-1);
}
  
.catalog-content .select-arrow-active {
    -webkit-box-shadow:inset 0 0 1px 0 #94A3D1;
    -moz-box-shadow:inset 0 0 1px 0 #94A3D1;
    box-shadow:inset 0 0 1px 0 #94A3D1;
    border-radius: 10px 5px 0 0 !important;
}

.catalog-content .select-items div,
.catalog-content .select-selected {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}

.catalog-content .select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;

    background-color: #12335F;
}

.catalog-content .select-hide {
    display: none;
}
  
.catalog-content .select-items div:hover, 
.catalog-content .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.catalog-content .same-as-selected {
    color: #94A3D1 !important;
}

.catalog-content .select-items {
    border-radius: 0 0 5px 5px;
}

.catalog-content .shops-and-map {
    display: flex;
    justify-content: space-between;
}

.catalog-content .shop-list {
    width: 325px;
    max-height: 540px;
}

.catalog-content .map-wrapper {
    width: calc(100% - 365px);
}

.catalog-content .shop-city-list {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;
    padding: 4px 20px;
    max-height: 455px;
    overflow-y: scroll;
}

.catalog-content .shop-city-list::-webkit-scrollbar {
    width: 3px;
}
 
.catalog-content .shop-city-list::-webkit-scrollbar-track {
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0);
}
 
.catalog-content .shop-city-list::-webkit-scrollbar-thumb {
    background-color: #D1D1D1;
}

.catalog-content .shop-city-list h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    margin: 0 0 4px;
}

.catalog-content .shop-city-list span {
    text-transform: lowercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #9B9B9B;
    cursor: pointer;
}

.catalog-content .shop-city-list li {
    padding: 16px 0;
}

.catalog-content .shop-city-list li:not(:last-child) {
    border-bottom: 1px solid #E3E3E3;
}

.catalog-content .contacts { 
    margin: 80px 0 60px;
    display: flex;
    justify-content: space-between;
}

.catalog-content h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #12335F;
    margin-top: 0;
}

.catalog-content .contacts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.catalog-content .contact {
    margin: 0 10px 14px;
}

.catalog-content .contact p:first-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #94A3D1;
    margin: 0 0 4px;
}

.catalog-content .contact p:last-child {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    margin: 0;
}

.catalog-content .contact-form {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;
    padding: 48px;
    max-width: 650px;
    height: max-content;
}

.catalog-content .contact-form h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    color: #12335F;
}

.catalog-content .name-and-phone {
    display: flex;
    justify-content: space-between;
}

.catalog-content .name-and-phone input:first-child {
    margin-right: 17px;
}

.catalog-content .name-and-phone input,
.catalog-content .contact-form textarea {
    flex-grow: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 20px;
    color: #12335F;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 5px;
}

.catalog-content .contact-form textarea {
    width: 100%;
    margin-top: 17px;
    height: 100px;
    resize: none;
}

.catalog-content .name-and-phone input:active,
.catalog-content .name-and-phone input:focus,
.catalog-content .contact-form textarea:active,
.catalog-content .contact-form textarea:focus {
    outline: none;
    border-color: #12335F;
}

.catalog-content .name-and-phone input::placeholder,
.catalog-content .contact-form textarea::placeholder {
    color: #9B9B9B;
}

.catalog-content .submit-row {
    margin-top: 16px;
    display: flex;
}

.catalog-content .submit-row span {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #747474;
}

.catalog-content .submit-row input  {
    padding: 13px 28px;
    margin-left: 70px;
}

.catalog-content .props {
    margin-bottom: 96px;
}

.catalog-content .props p {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    margin: 0;
}

.catalog-content .props p:nth-child(3) {
    margin-bottom: 20px;
}

.catalog-content .props p:last-child {
    margin-top: 20px;
}

@media screen and (max-width: 1101px) {
    .catalog-content .contact-form {
        padding: 30px;
    }
}

@media screen and (max-width: 1071px) {
    .catalog-content .contact-form {
        padding: 30px;
        max-width: 600px;
    }

    .catalog-content .contact-form .name-and-phone {
        flex-direction: column;
    }

    .catalog-content .contact-form .name-and-phone #name {
        margin: 0 0 17px;
    }

    .catalog-content .contact-form .submit-row input {
        margin-left: 10px;
        max-height: 58px;
    }
}

@media screen and (max-width: 911px) {
    .catalog-content .shops-and-map {
        flex-direction: column;
    }

    .catalog-content .shop-list,
    .catalog-content .map-wrapper {
        width: auto;
    }

    .catalog-content .contact-form {
        max-width: none;
    } 

    .catalog-content .contacts {
        flex-direction: column  ;
        margin-top: 60px;
    }

    .catalog-content .props {
        margin-bottom: 60px;
    }

    .catalog-content .shop-city-list {
        max-height: 320px;
    }

    .catalog-content .map-wrapper > ymaps {
        /* надеемся оно сработает */
        height: 400px !important;
    }
}

@media screen and (max-width: 530px) {
    .catalog-content .contacts-grid {
        display: flex;
        flex-direction: column;
    }

    .catalog-content .submit-row {
        flex-direction: column-reverse;
    }

    .catalog-content .submit-row input {
        margin: 0 0 20px !important;
        height: 50px;
    }
}