.footer-contacts-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-contacts-wrapper > p > a,
.footer-links > p > a {
    line-height: 24px;
    color: #94A3D1;
    text-decoration: none;
}

.footer-contacts-wrapper > p {
    margin: 0;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
}

.footer-contacts-col {
    display: flex;
    flex-direction: column;
}

.footer-contacts-col > div {
    margin-top: 15px;
    margin-left: 80px;
}


.footer-contact p:first-child {
    font-weight: 500;
    font-size: 14px;
    color: #94A3D1;
    margin-bottom: 4px;
}

.footer-contact p:last-child {
    font-weight: 600;
    font-size: 18px;
    color: #12335F;
    margin: 0;
}

.page-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #F0F4FC;
    padding: 36px 40px 22px;
    height: 300px;
}

.footer-links-wrapper {
    min-height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-links-wrapper-adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links-wrapper-adress p {
    margin: 0;
    line-height: 24px;
    color: #12335F;
}

.footer-logotype {
    width: 120px;    
    margin-bottom: 28px;
}

.logo-2gis {
    width: 65px;    
    margin-top: 28px;
}

.footer-links-wrapper-adress p:last-child {
    margin: 0;
    line-height: 24px;
    color: #94A3D1;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-list {
    display: flex;
    justify-content: space-between;
    color: #12335F;
}

.footer-links p {
    margin: 0;
    line-height: 24px;
    color: #94A3D1;
}

.links-list ul {
    padding: 0 50px 0 0;
    list-style: none;
}

.links-list ul li {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.page-footer-wrapper a {
    text-decoration: none;
}