.history-content .history {
    max-width: 900px;
}

.history-content .history header {
    display: flex;
    justify-content: space-between;

    background: white;
    padding: 24px 44px;
    max-width: 812px;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;
}

.history-content .history header > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.history-content .history header > div:nth-child(1) {
    max-width: 208px;
}

.history-content .history header > div:nth-child(2) {
    max-width: 244px;
    padding: 0 20px;
}

.history-content .history header > div:nth-child(3) {
    max-width: 190px;
}

.history-content .history header > div p:first-child{
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    margin: 0 0 8px;
}

.history-content .history header > div p:last-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2C2C2C;
    margin: 0;
}

.history-content .filler-text {
    padding: 48px 0 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2C2C2C;
}

.history-content .filler-text p {
    margin: 0 0 25px;
}

.history-content .history-period {
    display: flex;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;
    margin-bottom: 20px;
}

.history-content .history-year {
    padding: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
}

.history-content .history-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2C2C2C;
    padding: 24px;
}

.history-content .history-text p:not(:last-child) {
    margin: 0 0 24px;
}

.history-content .history-text p:last-child {
    margin: 0;
}

@media screen and (max-width: 761px) {
    .history-content .history header {
        flex-direction: column;
        padding: 0 !important;
    }

    .history-content .history header > div p {
        margin: 0 !important;
    } 

    .history-content .history header > div p:first-child {
        width: 80px;
        padding-right: 10px;
    } 

    .history-content .history header > div {
        flex-direction: row;
        align-items: center;
        padding: 20px 18px 14px !important;
        max-width: none !important;
    }

    .history-content .history-period {
        flex-direction: column;
    }

    .history-content .history-period span {
        padding-bottom: 0;
    }

    .history-content .history-text {
        margin-top: 12px;
    }
}

@media screen and (max-width: 600px) {
    .history-content .history header > div {
        flex-direction: column;
        align-items: flex-start;
    }

    .history-content .history header > div p:last-child {
        margin-top: 4px !important;
    }
}