.order-content .invalid {
    border-color: #D72C07;
}

.order-content .order-wrapper {
    display: flex;
}

.order-content .order-forms {
    flex-grow: 1;
    margin-right: 20px;
}

.order-content .box {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;
    padding: 32px 30px 30px;
    margin-bottom: 24px;
}

.order-content .box header h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
}

.order-content .box-content {
    max-width: 630px;
}

.order-content .order-contacts .box-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-gap: 20px;
}

.order-content .delivery > input {
    width: 100%;
}

.order-content .selfPick {
    display: none;
}

.order-content .selfPick select {
    width: 100%;

    background-image: url('../images/selectArrow.svg');
    background-repeat: no-repeat;
    background-position: 97% 50%;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2C2C2C;

}

.order-content input,
.order-content select {
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 5px;
    transition: border-color .5s;
    color: #2c2c2c;

    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.order-content .delivery select {
    background-image: url('../images/clock.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.order-content select:active,
.order-content select:focus {
    border-color: #12335F;
    outline: none;
}

.order-content input:active,
.order-content input:focus {
    border-color: #12335F;
    outline: none;
}

.order-content .checkValid:invalid {
    border-color: #D72C07 !important;
}

.order-content .checkValid:valid {
    border-color: rgb(38, 154, 0) !important;
}

.order-content .order-contacts .box-content input::placeholder {
    color: #9B9B9B;
}

.order-content .order-contacts .box-content span {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #9B9B9B;
    align-self: flex-end;
}

.order-content .buttons-wrapper {
    background: #EDF1F7;
    border-radius: 5px;
    display: flex;
    width: max-content;
}

.order-content .buttons-wrapper input {
    padding: 13px 28px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;

    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: #12335F;
    overflow: hidden;
    transition: all .5s;
}

.order-content .button {
    background-color: #12335F !important;
    color: #FFFFFF !important;
}

.order-content .box-content p:first-child,
.order-content .order-payment p {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    margin-top: 22px;
}

.order-content .date-and-time {
    margin-top: 20px;
    display: flex;
}

.order-content .date-and-time input {
    margin-right: 20px;
    flex-grow: 1;

    background-image: url('../images/calendar.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.order-content .date-and-time select {
    flex-grow: 1;
}

.order-content .date-and-time input, 
.order-content .date-and-time select {
    width: 50%;
}

.order-content .date-and-time select option {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 14px 0px;
}

.order-content textarea {
    padding: 15px 20px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #12335F;
    resize: none;

    width: 100%;
    height: 100px;
}

.order-content textarea::placeholder {
    color: #9B9B9B;
}

.order-content .order-total {
    max-width: 400px;
    height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;
    padding: 32px 24px;

    position: sticky;
    top: 100px;
}

.order-content .order-total div {
    display: flex;
    justify-content: space-between;
}

.order-content .order-total div:first-child span,
.order-content .order-total div:nth-child(4) span {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2C2C2C;
}

.order-content .order-total div:nth-child(2) span,
.order-content .order-total div:nth-child(3) span {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #747474;
}

.order-content .order-total div:first-child {
    margin-bottom: 24px;
}

.order-content .order-total div:nth-child(2) {
    margin-bottom: 4px;
}

.order-content .order-total div:nth-child(3) {
    margin-bottom: 14px;
}

.order-content .order-total input {
    margin: 24px 0 10px;
    width: 100%;
}

.order-content .order-total p {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #9B9B9B;
    text-align: center;
    margin: 0;
}

.order-content .payOnline {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 190px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.1);
    border-radius: 5px;
    margin-top: 30px;
}

.order-content .error {
    opacity: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #D72C07;
    margin: 0;
    position: relative;
    top: 14px;
    transition: all .5s;
}

.order-content .order-confirm {
    margin-top: 153px;
}

.order-content .order-confirm p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #747474;
}

.order-content .order-confirm div {
    margin-top: 48px;
    display: flex;
}

.order-content .order-confirm div a:first-child {
    padding: 13px 52px;
    margin-right: 24px;
}

.order-content .order-confirm div a:last-child {
    padding: 13px 45px;
    background: #EDF1F7;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #12335F;
}

@media screen and (max-width: 1130px) {
    .order-content .order-contacts .box-content {
        display: flex;
        flex-direction: column;
    }

    .order-content .date-and-time {
        flex-direction: column;
    }

    .order-content .order-total {
        max-width: 350px;
    }

    .order-content .date-and-time input, 
    .order-content .date-and-time select {
        margin-right: 0;
        width: auto;
    }

    .order-content .date-and-time select {
        margin-top: 20px;
    }
}

@media screen and (max-width: 951px) {
    .order-content .order-wrapper {
        flex-direction: column;
    }

    .order-content .order-forms {
        margin-right: 0;
    }

    .order-content .box-content {
        max-width: none;
    }

    .order-content .box-content textarea {
        height: 120px;
    }

    .order-content .order-total {
        max-width: none;
    }

    .order-content .order-payment .buttons-wrapper {
        width: 310px;
        max-width: 100%;
    }

    .order-content .buttons-wrapper input {
        padding: 15px 20px;
    } 

    .order-content .box {
        padding: 24px 18px;
    }
}