.invalid {
    border-color: #D72C07;
}

.order-wrapper {
    display: flex;
}

.order-forms {
    flex-grow: 1;
    margin-right: 20px;
}

.box {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;
    padding: 32px 30px 30px;
    margin-bottom: 24px;
}

.box header h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
}

.box-content {
    max-width: 630px;
}

.order-contacts .box-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-gap: 20px;
}

.delivery > input {
    width: 100%;
}

.selfPick {
    display: none;
}

.selfPick select {
    width: 100%;

    background-image: url('../images/selectArrow.svg');
    background-repeat: no-repeat;
    background-position: 97% 50%;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2C2C2C;

}

input,
select {
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 5px;
    transition: border-color .5s;
    color: #2c2c2c;

    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.delivery select {
    background-image: url('../images/clock.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

select:active,
select:focus {
    border-color: #12335F;
    outline: none;
}

input:active,
input:focus {
    border-color: #12335F;
    outline: none;
}

.checkValid:invalid {
    border-color: #D72C07 !important;
}

.checkValid:valid {
    border-color: rgb(38, 154, 0) !important;
}

.order-contacts .box-content input::placeholder {
    color: #9B9B9B;
}

.order-contacts .box-content span {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #9B9B9B;
    align-self: flex-end;
}

.buttons-wrapper {
    background: #EDF1F7;
    border-radius: 5px;
    display: flex;
    width: max-content;
}

.buttons-wrapper input {
    padding: 13px 28px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;

    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: #12335F;
    overflow: hidden;
    transition: all .5s;
}

.button {
    background-color: #12335F !important;
    color: #FFFFFF !important;
}

.box-content p:first-child,
.order-payment p {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    margin-top: 22px;
}

.date-and-time {
    margin-top: 20px;
    display: flex;
}

.date-and-time input {
    margin-right: 20px;
    flex-grow: 1;

    background-image: url('../images/calendar.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.date-and-time select {
    flex-grow: 1;
}

.date-and-time input, 
.date-and-time select {
    width: 50%;
}

.date-and-time select option {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 14px 0px;
}

textarea {
    padding: 15px 20px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #12335F;
    resize: none;

    width: 600px;
    height: 100px;
}

textarea::placeholder {
    color: #9B9B9B;
}

.order-total {
    max-width: 400px;
    height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;
    padding: 32px 24px;

    position: sticky;
    top: 100px;
}

.order-total div {
    display: flex;
    justify-content: space-between;
}

.order-total div:first-child span,
.order-total div:nth-child(4) span {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2C2C2C;
}

.order-total div:nth-child(2) span,
.order-total div:nth-child(3) span {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #747474;
}

.order-total div:first-child {
    margin-bottom: 24px;
}

.order-total div:nth-child(2) {
    margin-bottom: 4px;
}

.order-total div:nth-child(3) {
    margin-bottom: 14px;
}

.order-total input {
    margin: 24px 0 10px;
    width: 100%;
}

.order-total p {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #9B9B9B;
    text-align: center;
    margin: 0;
}

.payOnline {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 190px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.1);
    border-radius: 5px;
    margin-top: 30px;
}

.error {
    opacity: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #D72C07;
    margin: 0;
    position: relative;
    top: 14px;
    transition: all .5s;
}

.order-confirm {
    margin-top: 153px;
}

.order-confirm p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #747474;
}

.order-confirm div {
    margin-top: 48px;
    display: flex;
}

.order-confirm div a:first-child {
    padding: 13px 52px;
    margin-right: 24px;
}

.order-confirm div a:last-child {
    padding: 13px 45px;
    background: #EDF1F7;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #12335F;
}