/* common styles */

body {
    font-family: 'Raleway', sans-serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #FEFEFE;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100vh;
    width: 1440px;
    background: #F8F9FC;
}

.wrapper > main {
    padding: 32px 40px;
    min-height: calc(100vh - 528px);
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #12335F;
    margin: 24px 0 32px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #12335F;
}

.button {
    color: white !important;
    background-color: #12335F;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.button a {
    color: white;
}

.selector {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    color: #9B9B9B;
    font-size: 16px;
    overflow-x: scroll;
}


.selector::-webkit-scrollbar {
    height: 5px;
}
 
.selector::-webkit-scrollbar-track {
    margin: 1px 0;
    background-color: rgba(0, 0, 0, 0);
}
 
.selector::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.selector li {
    padding: 10px 16px;
    cursor: pointer;
    white-space: nowrap;

    transition: background-color .5s, color .5s;
}

.selector li:hover {
    color: #12335F;
}

.selector-selected {
    background-color: #12335F;
    color: white;
    border-radius: 32px;
}

.selector-selected:hover {
    color: white !important;
}

.breadscrumbs {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 4px 0;
    list-style: none;
}

.breadscrumbs a {
    color: #9B9B9B;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

.breadscrumbs li {    
    display: flex;
    align-items: center;
}

.breadscrumbs li:not(:first-child)::before {
    display: block;
    content: "";
    height: 6px;
    width: 6px;
    border-color: #9B9B9B;
    border-style: solid;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    margin: 0 10px;
}

.breadscrumbs li:last-child {
    color: #12335F;
    font-size: 14px;
}

.recommended-cakes h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #12335F;
}

.recommended-cakes-list {
    margin: 50px 0 110px;
    row-gap: 20px;
}

.catalogue {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);        
}

@media screen and (max-width: 1380px) {
    .catalogue {
        grid-template-columns: repeat(3, 1fr);        
    }
}

@media screen and (max-width: 1021px) {
    .catalogue {
        grid-template-columns: repeat(2, 1fr);        
    }
}

@media screen and (max-width: 681px) {
    .catalogue {
        grid-template-columns: repeat(1, 1fr);        
        justify-items: center;
    }

    .catalogue > div,
    .catalogue > article {
        width: 80%;
    }
}

.amount-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: #EDF1F7;
    border-radius: 5px;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
}

.amount input[type=number] {
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    text-align: center;
}

.amount input[type=number]::-webkit-outer-spin-button,
.amount input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.amount {
    display: flex;
    align-items: center;
}

.minus::after {
    display: block;
    content: '';
    width: 16px;
    height: 1px;
    background-color: #12335F;
}

.plus::after,
.plus::before {
    display: block;
    content: '';
    width: 16px;
    height: 1px;
    background-color: #12335F;
}

.plus::before {
    transform: rotate(90deg);
    position: absolute;
}

@media screen and (max-width: 440px) {
    .selector::-webkit-scrollbar {
        height: 3px;
    }
}
/* end of common styles */

/* header */

.page-header-wrapper {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    position: sticky;
    top: 0px;
    z-index: 99999;
}

.page-header-wrapper::before,
.page-header-wrapper::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    background-color: #F8F9FC;
    width: calc((100vw - 1440px) /2);
    height: 100px;
}

.page-header-wrapper::before {
    left: calc((1440px - 100vw) /2);
}

.page-header-wrapper::after {
    right: calc((1440px - 100vw) /2);
}

.header-desktop-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 40px;
    height: 76px;
    background-color: #F8F9FC;
}

.header-menu, .header-phone-cart-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.logo-link {
    width: 115px;
    height: 75px;
    margin-right: 40px;
}

.logo-link img {
    width: 100%;
    height: 100%;
}

.header-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.header-links li {
    min-width: max-content;
    margin: 0 10px;
}

.header-link a,
.header-phone-cart-search a {
    text-decoration: none;
    color: #12335F;
    transition: color .5s;
}

.header-link a:hover {
    color: #94A3D1;
}

.header-mobile-menu {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    background-color: #F8F9FC;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.header-mobile-menu .logo-link {
    height: 50px;
    width: 77px;
    image-rendering: -webkit-optimize-contrast;
}

.header-phone-cart-search input[type=checkbox] {
    display: none;
}

.header-phone-cart-search a:nth-child(2) {
    width: 48px;
    height: 48px;
    margin: 0 30px;
}

#searchButton,
#searchButtonMobile {
    cursor: pointer;
    position: relative;
    top: -1px;
}

.searchField {
    flex: 1;
    border-radius: 30px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    width: calc(100% - 102px);
    padding: 16px 36px;
}

.searchField::placeholder {
    color: #9B9B9B;
}

.searchField:active,
.searchField:focus {
    border: none;
    outline: none;
}

.searchFieldWrapper {
    width: 100%;
    display: none;
    position: relative;
}

.clearSearch {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 66px;
    top: 22px;
    cursor: pointer;
}

.clearSearch::before,
.clearSearch::after {
    position: absolute;
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    top: 44%;
    left: -20%;
    background-color: #9B9B9B;
}

.clearSearch::before {
    transform: rotate(45deg);
}

.clearSearch::after {
    transform: rotate(-45deg);
}

.search-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 30px);
    height: calc(100vh - 36px);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px 20px;
    background-color: #F8F9FC;
}

.search-menu-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.search-menu-header .searchFieldWrapper {
    display: block;
}

.search-menu-header .searchFieldWrapper .searchField {
    border-radius: 10px;
}

.search-menu-header span {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    cursor: pointer;
}

.search-menu .button {
    width: 100%;
    height: 44px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;width: 100vw;
    height: calc(100vh - 70px);
    left: 0;
    top: 70px;
    background: #F8F9FC;
    transform: translateX(-100vw);
    transition: all .2s;
    opacity: 0;
}

.mobile-menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu-footer,
.mobile-menu-footer a {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #9B9B9B;
}

.mobile-header-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 0;
}

.mobile-icons {
    display: flex;
    align-items: center;
}

.mobile-icons a {
    margin: 0 30px;
}

.mobile-icons input {
    display: none;
}

.hamburger-lines .line {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    background-color: #12335F;
    transition: all .2s;
}

.line1 {
    top: 0;
}

.line2 {
    opacity: 1;
    top: calc(50% - 1px);
}

.line3 {
    bottom: 0;
}

.hamburger-lines {
    width: 26px;
    height: 18px;
    position: relative;
    cursor: pointer;
}

.opened .line1 {
    transform: translateY(8px) rotate(45deg);
}

.opened .line2 {
    opacity: 0;
}

.opened .line3 {
    transform: translateY(-8px) rotate(-45deg);
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.mobile-header-links .header-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    margin: 16px 0;
}

.fix {
    height: 100vh;
    overflow-y: hidden;
}

@media screen and (max-width: 1070px) {
    .header-desktop-menu {
        display: none;
    }

    .header-mobile-menu {
        display: flex;
    }
}

/* end of header */

/* footer */

.footer-contacts-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.doneBy > a,
.footer-links > p > a {
    line-height: 24px;
    color: #94A3D1;
    text-decoration: none;
}

.doneBy {
    position: absolute;
    bottom: 0;
}

.footer-contacts-wrapper > p {
    margin: 0;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
}

.footer-contacts-col {
    display: flex;
    flex-direction: column;
}

.footer-contact {
    min-width: 240px;
}

.footer-contact p:first-child {
    font-weight: 500;
    font-size: 14px;
    color: #94A3D1;
    margin-bottom: 4px;
}

.footer-contact p:last-child {
    font-weight: 600;
    font-size: 18px;
    color: #12335F;
    margin: 0;
}

.page-footer-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: stretch;
    background: #F0F4FC;
    padding: 36px 40px 22px;
}

.page-footer-wrapper::before,
.page-footer-wrapper::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    background-color: #F0F4FC;
    width: calc((100vw - 1440px) /2);
    height: 100%;
}

.page-footer-wrapper::before {
    left: calc((1440px - 100vw) /2);
}

.page-footer-wrapper::after {
    right: calc((1440px - 100vw) /2);
}

.footer-links-wrapper {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-links-wrapper-adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
}

.footer-links-wrapper-adress p {
    margin: 0;
    line-height: 24px;
    color: #12335F;
}

.footer-logotype {
    width: 120px;    
    height: 79px;
    margin-bottom: 28px;
}

.logo-2gis {
    width: 65px;    
    margin-top: 28px;
}

.footer-links-wrapper-adress > p:last-child {
    margin: 0;
    line-height: 24px;
    color: #94A3D1;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-list {
    display: flex;
    justify-content: space-between;
    color: #12335F;
}

.links-list ul li a {
    transition: all .5s;
}

.links-list ul li a:hover {
    color: #94A3D1;
}

.footer-links p {
    margin: 0;
    line-height: 24px;
    color: #94A3D1;
}

.links-list ul {
    padding: 0 50px 0 0;
    list-style: none;
}

.links-list ul li {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.page-footer-wrapper a {
    text-decoration: none;
}

.mobile-footer {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.mobile-footer p,
.mobile-footer p a {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;    
    color: #94A3D1;
    margin: 0 0 4px;
}

@media screen and (max-width: 910px) {
    .mobile-footer {
        display: flex;
    }

    .footer-links-wrapper-adress > p,
    .footer-links > p,
    .doneBy {
        display: none;
    }

    .footer-contacts-wrapper {
        align-items: flex-start;
    }

    .footer-contacts {
        flex-direction: column-reverse;
    }
}

/* end of footer */

/* index page */

.main-page-cakes > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page-cakes > header a {
    font-size: 16px;
    line-height: 130%;
    text-align: right;
    font-weight: 600;
    white-space: nowrap;
}

.main-page-banner > img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 80px;
}

.main-page-content section header h2 {
    font-size: 36px;
    font-weight: 700;
    color: #12335F;
}

.main-page-cakes-list {
    margin-top: 33px;
    row-gap: 20px;
}

.main-page-cakes-assembly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 140px 0 174px;
}

.main-page-cakes-assembly header {
    padding-right: 10%;
}

.main-page-cakes-assembly h2 {
    margin: 0;
}

.main-page-cakes-assembly h4 {
    max-width: 350px;
    color: #747474;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 10px 0 50px;
}

.assembly-button { 
    padding: 16px 28px;
    transition: all .5s;
}

.assembly-button:hover {
    background: #1A4A8E;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.main-page-cakes-assembly-image {
    flex-grow: 1;
    min-width: 400px;
    max-width: 983px;
    min-height: 300px;
    max-height: 1314px;
    padding: 40px 0;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-color: red;
}

.main-page-cakes-about-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cakes-about-card {
    width: 358px;
    padding: 36px;
    
    transition: all .5s;
}

.cakes-about-card header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cakes-about-card h3 {
    color: #12335F;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 12px;
}

.cakes-about-card p {
    color: #747474;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.cakes-about-card:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;
}

.main-page-promos {
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
}

.promo {
    border-radius: 10px;
    max-width: 670px;
}

.promo img {
    max-width: 100%;
}

.main-page-shops > header {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page-shops > header a {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
}

.shops-cards {
    margin-top: 33px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
    gap: 20px;
}

.shop-card {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
}

.shops-card-image img {
    border-radius: 10px;
    width: 100%;
}

.shop-card-text {
    margin-left: 18px;
}

.shop-card header {
    font-weight: 700;
    font-size: 20px;
    color: #12335F;
    margin-top: 24px;
}

.shop-card .adress {
    font-size: 16px;
    color: #747474;
    margin-top: 10px;
}

.shop-card footer {
    font-weight: 600;
    font-size: 16px;
    color: #12335F;
    margin-bottom: 16px;
}

.main-page-content .splide__slide {
    height: 400px;
}

.main-page-content .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-page-content .splide__arrow {
    border-radius: 0 !important;
    height: 400px !important;
    transition: all .5s;
    transform: none !important;
}

.main-page-content .splide__arrow svg {
    transform: scaleY(1.5) !important;
}

.main-page-content .splide__arrow--prev svg {
    transform: scale(-1, 1.5) !important;
}

.main-page-content .splide__arrow--next:hover,
.main-page-content .splide__arrow--prev:hover  {
    background-position: 0 0;
}

.main-page-content .splide__arrows .splide__arrow--prev {
    left: 0 !important;
    top: 0 !important;
    border-radius: 10px 0 0 10px !important;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(44, 44, 44, 0.2) 68.23%, rgba(44, 44, 44, 0.2) 99.99%, rgba(44, 44, 44, 0.2) 100%) !important;
}

.main-page-content .splide__arrow--next {
    right: 0 !important;
    top: 0 !important;
    border-radius: 0 10px 10px 0 !important;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(44, 44, 44, 0.2) 68.23%, rgba(44, 44, 44, 0.2) 99.99%, rgba(44, 44, 44, 0.2) 100%) !important;
}

.main-page-content .splide__arrows .splide__arrow svg {
    fill: #FFFFFF !important;
}

.main-page-content .splide__track {
    /* background: rgba(199, 199, 199, 0.2); */
    border-radius: 10px;
}

@media screen and (max-width: 1020px) {
    .main-page-content .splide__arrow {
        display: none !important;
    }

    .cake-card-weight,
    .cake-card-buy-button {
        font-size: 14px !important;
        opacity: 1 !important;
        z-index: 9999;
    }

    .cake-card-name {
        font-size: 14px !important;
        line-height: 120%;
    }

    .cake-card-price {
        font-size: 18px !important;
        line-height: 120%;
    }

    .main-page-cakes-assembly {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .main-page-cakes-assembly-image {
        width: 100%;
        margin-bottom: 14px;
    }

    .main-page-cakes-about-cards,
    .main-page-promos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-page-promos {
        margin-top: 60px;
    }

    .wrapper {
        max-width: none;
        width: 100vw;
    }

    .wrapper > main {
        padding: 20px 30px;
    }

    
}

@media screen and (max-width: 950px) {
    .links-list ul:last-child {
        display: none;
    }
}

@media screen and (max-width: 910px) {
    .wrapper > main {
        padding: 20px 15px;
    }

    .page-footer-wrapper {
        flex-direction: column;
    }

    .footer-links-wrapper-adress {
        margin-right: 0;
    }

    .footer-links-wrapper-adress > div {
        display: flex;
        justify-content: space-between;
    }

    .footer-links-wrapper-adress > div > div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    .footer-links-wrapper-adress > div > div p {
        font-size: 14px;
    }

    .footer-links-wrapper {
        flex-direction: column;
    }

    .logo-2gis {
        margin-top: 0;
    }

    .page-footer-wrapper {
        padding: 28px 15px;
    }
}

@media screen and (max-width: 680px) {
    .cake-card,
    .shop-card {
        max-height: none !important;
    }

    .cake-card-image {
        height: auto !important;
        width: auto !important;
    }

    .main-page-shops header {
        margin-top: 70px;
    }
}

@media screen and (max-width: 440px) {
    .shop-card {
        display: flex;
        height: 100px;
        width: 100% !important;
    }

    .shops-card-image {
        margin: 6px;
        width: 90px;
        height: 85px;
    }

    .shops-card-image img {
        height: 100%;
        object-fit: cover;
    }

    .shop-card-text {
        margin: 10px 12px;
    }

    .adress {
        font-size: 14px !important;
    }

    .shop-card-text header {
        font-size: 16px;
        margin-top: 0;
    }

    .main-page-cakes-assembly-image {
        min-width: auto;
    }

    .cakes-about-card {
        width: auto;
        padding: 10px 0;
    }
}

/* end of index page */

/* cake card thumbnails */

.cake-card {
    position: relative;
    padding: 12px;
    cursor: pointer;
    text-decoration: none;

    transition: all .5s;
}

.cake-card-image {
    width: 100%;
}

.cake-card-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.cake-card-name {
    font-size: 18px;
    color: #2C2C2C;
    font-weight: 500;
    margin-top: 16px;
}

.cake-card-price {
    font-size: 22px;
    color: #2C2C2C;
    font-weight: 700;
    margin: 16px 0 0 0;
}

.cake-card-weight {
    color: #9B9B9B;
    font-size: 15px;
    opacity: 0;

    transition: opacity .5s;
}

.cake-card-buy-button {
    padding: 13px 28px 12px;
    font-size: 16px;
    font-weight: 600;

    position: absolute;
    right: 12px;
    bottom: 12px;
    opacity: 0;

    transition: opacity .5s;
}

.cake-card:hover {
    z-index: 9999;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
}

.cake-card:hover .cake-card-weight {
    opacity: 1;
}

.cake-card:hover .cake-card-buy-button {
    opacity: 1;
}

.rating {
    content: "\f089";
}

#thumbnail-slider {
    margin: 25px 0;
}

#main-slider {
    margin-left: 20px;
}

.cake-card .splide__arrow--prev {
    top: -30px !important;
    transform: translate(-50%) scaleY(0.8) !important;
}

.cake-card .splide__arrow--next {
    bottom: -30px !important;
    transform: translate(-50%) scaleY(0.8) !important;
}

.cake-card .splide__arrow--prev svg,
.cake-card .splide__arrow--next svg {
    fill: #9B9B9B !important;
}

.cake-card .splide__slide {
    border-radius: 10px;
}

/* end of cake card thumbnails */

/* catalog */

.catalog-filters-and-sorter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.catalog-filters-shops {
    display: flex;
    margin-top: 26px;
}

.catalog-filters-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    background-color: white;
    border-radius: 10px;
    padding: 0 18px;
    margin-right: 22px;
    cursor: pointer;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
}

.catalog-filters-shop span {
    font-weight: 500;
    font-size: 16px;
    color: #2C2C2C;
    margin-left: 20px;
}

.catalog-filters-shop img {
    max-height: 51px;
}

.catalog-list {
    margin-top: 36px;
    row-gap: 20px;
}

.catalog-sorter {
    position: relative;
    font-family: Arial;
}
  
.catalog-sorter select {
    display: none;
}
  
.select-filters-selected {
    background-color: transparent;
    text-align: right;
}

.select-filters-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #12335F transparent transparent transparent;
    transition: all .5s;
}

.select-filters-selected.select-arrow-active:after {
    transform: scaleY(-1);
}

.select-filters div,.select-filters-selected {
    color: #12335F;
    font-size: 16px;
    line-height: 130%;
    padding: 8px 40px 8px 20px;
    cursor: pointer;
    white-space: nowrap;
    width: 200px;
}

.select-filters {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 5px;
}

.select-filters-hide {
    display: none;
}
  
.select-filters div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.select-filters div:first-child {
    border-radius: 5px 5px 0 0;
}

.select-filters div:last-child {
    border-radius: 0 0 5px 5px;
}

.pagination-wrapper {
    margin: 100px 0;
}

ul.page-numbers {
    display: flex;
    align-items: center;
    list-style: none;
    color: #9B9B9B;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding: 0;
}

ul.page-numbers a {
    color: #9B9B9B;
}

ul.page-numbers a:not(.next):not(.prev),
ul.page-numbers span.current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 6px;
}

ul.page-numbers .next,
ul.page-numbers .prev {
    display: flex;
    align-items: center;
    margin: 0 12px;
}

ul.page-numbers .arrow::before {
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #9B9B9B;
    position: relative;
    right: -2px;
    transform: rotate(-45deg);
}

ul.page-numbers .arrow {
    display: flex;
    align-items: center;

    background-color: #9B9B9B;
    width: 10px;
    height: 1px;
    position: relative;
}

ul.page-numbers .arrow.arrow-left {
    margin-right: 12px;
    transform: scaleX(-1);
}

ul.page-numbers .arrow.arrow-right {
    margin-left: 12px;
}

ul.page-numbers .current {
    background-color: #12335F;
    color: white;
}

ul.page-numbers .hidden {
    display: none !important;
}

@media screen and (max-width: 840px) {
    .catalog-filters-and-sorter {
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog-sorter {
        margin-top: 30px;
    }

    .select-filters-selected {
        text-align: left;
    }

    .page-numbers span {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    .catalog-filters-shops {
        margin-top: 20px;
    }

    .catalog-filters-shop {
        padding: 0 12px;
    }

    .catalog-filters-shop span {
        font-size: 15px;
        margin-left: 12px;
    }

    .catalog-filters-shop {
        margin-right: 10px;
    }
}
/* end of catalog */

/* assembly */

.cake-assembler-wrapper h1 {
    font-size: 36px;
    font-weight: 700;
    color: #12335F;
}

.cake-assembler-wrapper .splide__arrow--prev {
    left: 0;
}

.cake-assembler-wrapper .splide__arrow--next {
    right: 0;
}

.cake-assembler-and-calculator {
    display: flex;
    justify-content: space-between;
}

.price-calculator {
    max-width: 390px;
    height: 244px;
    padding: 36px 24px 25px;
    background-color: white;
    box-shadow: 0px 4px 30px 1px rgba(43, 63, 101, 0.08);
    border-radius: 10px;

    position: sticky;
    top: 120px;
}

.price-calculator header {
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #2C2C2C;
}

.price-calculator > div span {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #2C2C2C;
}

.my-cake-params {
    margin: 30px 0 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 62px;
}

.my-cake-weight, .my-cake-price {
    display: flex;
    justify-content: space-between;
}

.my-cake-order-button {
    width: 100%;
    height: 44px;
}

.price-calculator footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #9B9B9B;
}

.price-calculator footer p {
    margin-top: 10px;
}

.cake-assembler > header {
    height: 241px;
    padding: 40px 30px 24px;
    color: white;
    border-radius: 10px;

    background: #2C2C2C;
    background-image: url(../images/cakeAssemblyHeader.png);
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ), 
        url(../images/cakeAssemblyHeader.png);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cake-assembler > header > p:first-child {
    max-width: 487px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.cake-assembler {
    overflow: hidden;
    flex-grow: 1;
    margin-right: 20px;
}

.cake-assembler-options {
    padding: 32px 36px;
    margin-top: 20px;
    border-radius: 10px;

    background-color: white;
}

.cake-assembler-option header h3 {
    margin: 0;

    font-size: 24px;
    font-weight: bold;
    color: #12335F;
}

.cake-option-weight h3 {
    margin-bottom: 15px !important;
}

.cake-assembler-option-wrapper {
    margin: 24px 0 120px;
    min-height: 200px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.cake-assembler-option-wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.cake-assembler-option-icons > div {
    justify-content: space-around;
    padding: 24px 35px;
    border-radius: 10px;
    transition: all .5s;
}

.cake-assembler-option-icons > div:hover {
    background-color: #F4F6FA;
}

.cake-assembler-option-icons > .selected {
    border: 2px solid #94A3D1;
}

.cake-assembler-option-icons > .selected img {
    transition: all .5s;
    filter: invert(100%) sepia(38%) saturate(251%) hue-rotate(169deg) brightness(60%) contrast(113%);
}

.option-image {
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.option-image::before {
    transition: all .5s;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
}

.option-image::after {
    transition: all .5s;
    display: block;
    content: '';
    width: 23px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-style: solid;
    border-color: white;
    border-width: 0 0 3px 3px;
    opacity: 0;
}

.option + .selected .option-image::before {
    background: rgba(0, 0, 0, 0.4);
}

.option + .selected .option-image::after {
    opacity: 1;
}

.option:hover .option-image::before,
.splide__slide:hover .option-image::before {
    background: rgba(0, 0, 0, 0.2);
}

.option-image > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cake-assembler-option-wrapper > div:hover > img::after,
.splide__slide:hover img::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
}

.cake-assembler-option-wrapper > div > span {
    width: 90%;
    margin-top: 16px;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 36px;
    margin-bottom: 15px;
    border: 0;
    background-image: url('../images/slider.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 36px;
    margin-bottom: 15px;
    border: 0;
    background-image: url('../images/slider.png');
    cursor: pointer;
}

.slider::-moz-range-progress,
.slider::-ms-fill-upper {
    background-color: #12335F;
    height: 2px;
}

.assembly-warn {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    background: #EDF1F7;
    border-radius: 10px;
    padding: 16px;
    margin: 26px 0 30px;
    max-width: max-content;
}

.output-cake-weight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-cake-weight p:first-child {
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #12335F;
    margin-bottom: 10px;
}

.output-cake-weight p:last-child {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #9B9B9B;
    margin: 0;
}

.cake-weight-selector {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 18px;
    margin: 60px 0 120px;
}

.cake-weight-selector > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 2px solid #F1F3F9;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}

.cake-weight-selector > div:hover {
    border-color: #12335F;
}

.cake-weight-selector > div > p:first-child {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #12335F;
}

.cake-weight-selector > div > p:last-child {
    margin: 6px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #9CA7C9;
}

.cake-assembler-option textarea {
    padding: 22px 24px;
    max-width: 586px;
    height: 175px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 10px;
    resize: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    margin-top: 24px;
    transition: border-color .5s;
}

.cake-assembler-option textarea::placeholder {
    color: #9B9B9B;
}

.cake-assembler-option textarea:hover,
.cake-assembler-option textarea:focus,
.cake-assembler-option textarea:active {
    border-color: #12335F;
    outline: none;
}

/* .splide__slide {
    width: 180px !important;
    height: auto !important;
    margin-right: 18px !important;
    cursor: pointer;
}

.splide__slide .option-image {
    height: 200px;
}

.splide__arrow--prev {
    left: 0 !important;
}

.splide__arrow--next {
    right: 0 !important;
}

.splide__arrow svg {
    fill: #9B9B9B !important;
}

.splide__arrow {
    transform: translateY(-50%) scale(0.9, 1.2) !important;
    height: 100%;
}

.splide__pagination {
    display: none !important;
}

.splide__track {
    width: calc(100% - 48px);
    overflow: hidden;
} */

#cake-decor {
    display: flex;
    justify-content: center;
    margin: 44px 0 120px;
    padding: 0 5%;
}

.cake-assembler-wrapper .splide__arrow svg {
    fill: #9B9B9B;
}

.selector {
    margin-top: 38px;
}

.drag-n-drop {
    border: 1px dashed #E3E3E3;
    border-radius: 10px;
    padding: 22px 24px;
    max-width: 536px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border .5s;
}

.drag-n-drop p {
    max-width: 75%;
    text-align: center;
    color: #9B9B9B;
}

.drag-n-drop > p:first-child {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

.mobile-attach-image-text,
.attach-image-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.mobile-attach-image-text {
    display: none;
}

.drag-n-drop:hover {
    border-color: #12335F;
}

.drag-n-drop:hover p:first-child {
    color: #12335F;
}

.drag-n-drop .highlight {
    border-color: #12335F;
}

.dnd-button {
    display: none;
}

#gallery {
    width: 100%;

    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 126px);
    row-gap: 26px;
    column-gap: 10px;
}

#gallery img {
    vertical-align: middle;
    border-radius: 10px;
}

#fileElem {
    display: none;
}

.imageBlock {
    width: 106px;
    position: relative;
    cursor: default;
}

.imageBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cross-hover {
    display: none;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.imageBlock:hover .cross-hover, 
.imageBlock:focus .cross-hover {
    display: block;
}

.cross {
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 1px rgba(43, 63, 101, 0.09);
    position: absolute;
    right: -8px;
    top: -8px;

    cursor: pointer;

    transform: rotate(45deg);
}

.cross:before, .cross:after {
    display: block;
    content: "";
    height: 12px;
    width: 1px;
    background: #12335F;

    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}

.cross:before {
    transform: translateX(50%) translateY(-50%) rotate(90deg);
}

.dnd-and-text > div {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .cake-assembler-and-calculator {
        flex-direction: column;
    }

    .cake-assembler {
        margin-right: 0;
    }

    .price-calculator {
        margin-top: 20px;
        max-width: none;
    }

    .price-calculator footer p {
        margin-top: 16px;
    }
}

@media screen and (max-width: 500px) {
    .cake-assembler-options {
        padding-left: 18px;
        padding-right: 18px;
    }

    .cake-assembler-option-wrapper,
    .cake-weight-selector,
    #cake-decor {
        margin-bottom: 60px;
    }

    .cake-assembler-wrapper .splide__arrow--prev {
        display: none;
    }
    
    .cake-assembler-wrapper .splide__arrow--next {
        display: none;
    }

    .cake-assembler > p {
        margin: 0;
    }

    .mobile-attach-image-text {
        display: block;
    }

    .attach-image-text {
        display: none;
    }  

    .price-calculator {
        height: 254px;
    }
}

@media screen and (max-width: 481px) {
    .cake-assembler-option-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 10px;
    }
}

/* end of assembly */


/* splide */

.splide__container{box-sizing:border-box;position:relative}.splide__list{-webkit-backface-visibility:hidden;backface-visibility:hidden;display:-ms-flexbox;display:flex;height:100%;margin:0!important;padding:0!important;transform-style:preserve-3d}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide__progress__bar{width:0}.splide{outline:none;position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0;outline:none;position:relative}.splide__slide img{vertical-align:bottom}.splide__slider{position:relative}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__track{overflow:hidden;position:relative;z-index:0}@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide--draggable>.splide__slider>.splide__track,.splide--draggable>.splide__track{-webkit-user-select:none;-ms-user-select:none;user-select:none}.splide--fade>.splide__slider>.splide__track>.splide__list,.splide--fade>.splide__track>.splide__list{display:block}.splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide,.splide--fade>.splide__track>.splide__list>.splide__slide{left:0;opacity:0;position:absolute;top:0;z-index:0}.splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,.splide--fade>.splide__track>.splide__list>.splide__slide.is-active{opacity:1;position:relative;z-index:1}.splide--rtl{direction:rtl}.splide--ttb.is-active>.splide__slider>.splide__track>.splide__list,.splide--ttb.is-active>.splide__track>.splide__list{display:block}.splide__arrow{-ms-flex-align:center;align-items:center;background:none;border:0;border-radius:50%;cursor:pointer;display:-ms-flexbox;display:flex;height:2em;-ms-flex-pack:center;justify-content:center;opacity:.7;padding:0;position:absolute;top:50%;transform:translateY(-50%) scale(1.5);width:2em;z-index:1}.splide__arrow svg{fill:#FFFFFF;height:1.2em;width:1.2em}.splide__arrow:hover{opacity:.9}.splide__arrow:focus{outline:none}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide__pagination{bottom:.5em;left:0;padding:0 1em;position:absolute;right:0;z-index:1}.splide__pagination__page{background:#ccc;border:0;border-radius:50%;display:inline-block;height:8px;margin:3px;opacity:.7;padding:0;transition:transform .2s linear;width:8px}.splide__pagination__page.is-active{background:#fff;transform:scale(1.4)}.splide__pagination__page:hover{cursor:pointer;opacity:.9}.splide__pagination__page:focus{outline:none}.splide__progress__bar{background:#ccc;height:3px}.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide,.splide--nav>.splide__track>.splide__list>.splide__slide{border:3px solid transparent;cursor:pointer}.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,.splide--nav>.splide__track>.splide__list>.splide__slide.is-active{border:3px solid #000}.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide:focus,.splide--nav>.splide__track>.splide__list>.splide__slide:focus{outline:none}.splide--rtl>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev{left:auto;right:1em}.splide--rtl>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:scaleX(1)}.splide--rtl>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next{left:1em;right:auto}.splide--rtl>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next svg{transform:scaleX(-1)}.splide--ttb>.splide__arrows .splide__arrow,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow,.splide--ttb>.splide__track>.splide__arrows .splide__arrow{left:50%;transform:translate(-50%)}.splide--ttb>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev{top:1em}.splide--ttb>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:rotate(-90deg)}.splide--ttb>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next{bottom:1em;top:auto}.splide--ttb>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next svg{transform:rotate(90deg)}.splide--ttb>.splide__pagination,.splide--ttb>.splide__slider>.splide__pagination{bottom:0;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;left:auto;padding:1em 0;right:.5em;top:0}

/* end of splide */